In [113]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot
import sklearn.linear_model

In [114]:
df = pd.read_csv('Beijing_Air.csv', header=None)

In [115]:
df.shape

(43825, 13)

In [116]:
df.columns = df.iloc[0]

In [117]:
df.dtypes

0
No       object
year     object
month    object
day      object
hour     object
pm2.5    object
DEWP     object
TEMP     object
PRES     object
cbwd     object
Iws      object
Is       object
Ir       object
dtype: object

In [118]:
df.drop(df.index[0], inplace=True)

In [119]:
df.shape

(43824, 13)

In [120]:
df.year = df.year.astype(int)

In [121]:
df = df[(df['year'] == 2013)]
df.tail()
# 2010 index 0 - 8760
# 2011 index 8761 - 17520
# 2012 index 17521 - 26304
# 2013 index 26305 -

0         No  year month day hour pm2.5 DEWP TEMP  PRES cbwd     Iws Is Ir
35060  35060  2013    12  31   19    22  -19    7  1013   NW  114.87  0  0
35061  35061  2013    12  31   20    18  -21    7  1014   NW  119.79  0  0
35062  35062  2013    12  31   21    23  -21    7  1014   NW   125.6  0  0
35063  35063  2013    12  31   22    20  -21    6  1014   NW  130.52  0  0
35064  35064  2013    12  31   23    23  -20    7  1014   NW  137.67  0  0

In [75]:
df.dropna(inplace=True)
df.head()

0   No  year month day hour pm2.5 DEWP TEMP  PRES cbwd   Iws Is Ir
25  25  2010     1   2    0   129  -16   -4  1020   SE  1.79  0  0
26  26  2010     1   2    1   148  -15   -4  1020   SE  2.68  0  0
27  27  2010     1   2    2   159  -11   -5  1021   SE  3.57  0  0
28  28  2010     1   2    3   181   -7   -5  1022   SE  5.36  1  0
29  29  2010     1   2    4   138   -7   -5  1022   SE  6.25  2  0

In [76]:
df.dtypes

0
No       object
year      int64
month    object
day      object
hour     object
pm2.5    object
DEWP     object
TEMP     object
PRES     object
cbwd     object
Iws      object
Is       object
Ir       object
dtype: object