In [299]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot
import sklearn.linear_model

In [300]:
df = pd.read_csv('Beijing_Air.csv', header=None)

In [301]:
df.shape

(43825, 13)

In [302]:
df.columns = df.iloc[0]

In [303]:
df.dtypes

0
No       object
year     object
month    object
day      object
hour     object
pm2.5    object
DEWP     object
TEMP     object
PRES     object
cbwd     object
Iws      object
Is       object
Ir       object
dtype: object

In [304]:
df.drop(df.index[0], inplace=True)

In [305]:
df.shape

(43824, 13)

In [306]:
df.year = df.year.astype(int)

In [307]:
#df = df[(df['year'] == 2014)]
df.head()
# 2010 index 1 - 8760
# 2011 index 8761 - 17520
# 2012 index 17521 - 26304
# 2013 index 26305 - 35064
# 2014 index 35064 - 43824

0 No  year month day hour pm2.5 DEWP TEMP  PRES cbwd    Iws Is Ir
1  1  2010     1   1    0   NaN  -21  -11  1021   NW   1.79  0  0
2  2  2010     1   1    1   NaN  -21  -12  1020   NW   4.92  0  0
3  3  2010     1   1    2   NaN  -21  -11  1019   NW   6.71  0  0
4  4  2010     1   1    3   NaN  -21  -14  1019   NW   9.84  0  0
5  5  2010     1   1    4   NaN  -20  -12  1018   NW  12.97  0  0

In [308]:
for i in range(1, 8761):
        df.loc[i, 'cars'] = 4000000
for i in range(8761, 17521):
        df.loc[i, 'cars'] = 4300000
for i in range(17521, 26305):
        df.loc[i, 'cars'] = 4600000 
for i in range(26305, 35065):
        df.loc[i, 'cars'] = 4950000
for i in range(35065, 43825):
        df.loc[i, 'cars'] = 5300000

In [312]:
df.iloc[17520]

0
No         17521
year        2012
month          1
day            1
hour           0
pm2.5        275
DEWP         -12
TEMP          -8
PRES        1030
cbwd          NE
Iws         0.89
Is             0
Ir             0
cars     4.6e+06
Name: 17521, dtype: object

In [280]:
df.isnull().sum()

0
No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
cars        0
dtype: int64

In [313]:
df.to_csv("beijing_air2.csv")