In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Beijing_Air.csv', header=None)

In [3]:
df.shape

(43825, 13)

In [4]:
df.columns = df.iloc[0]

In [5]:
df.drop(df.index[0], inplace=True)
df.head()

0 No  year month day hour pm2.5 DEWP TEMP  PRES cbwd    Iws Is Ir
1  1  2010     1   1    0   NaN  -21  -11  1021   NW   1.79  0  0
2  2  2010     1   1    1   NaN  -21  -12  1020   NW   4.92  0  0
3  3  2010     1   1    2   NaN  -21  -11  1019   NW   6.71  0  0
4  4  2010     1   1    3   NaN  -21  -14  1019   NW   9.84  0  0
5  5  2010     1   1    4   NaN  -20  -12  1018   NW  12.97  0  0

In [6]:
df.shape

(43824, 13)

In [8]:
df.dropna(inplace=True)
df.head()

0   No  year month day hour pm2.5 DEWP TEMP  PRES cbwd   Iws Is Ir
25  25  2010     1   2    0   129  -16   -4  1020   SE  1.79  0  0
26  26  2010     1   2    1   148  -15   -4  1020   SE  2.68  0  0
27  27  2010     1   2    2   159  -11   -5  1021   SE  3.57  0  0
28  28  2010     1   2    3   181   -7   -5  1022   SE  5.36  1  0
29  29  2010     1   2    4   138   -7   -5  1022   SE  6.25  2  0

In [9]:
df.isnull().sum()

0
No       0
year     0
month    0
day      0
hour     0
pm2.5    0
DEWP     0
TEMP     0
PRES     0
cbwd     0
Iws      0
Is       0
Ir       0
dtype: int64